.header-content{
    display: flex;
    min-width: 70%;
    width: 70%;
    height: 100%;
    margin-left: 15%;
    /*padding-left: 15%;*/
}
.label-website-name{
    display: flex;
    width: 28%;
    height: 100%;
    line-height: 67px;
    font-size: 25px;
    font-weight: bolder;
}
.opts{
    display: flex;
    height: 100%;
    width: 40%;
}
.welcome-tip{
    display: flex;
    height: 100%;
    line-height: 67px;
    width: 200px;
    /*margin-left: 100px;*/
    font-size: 14px;
}
.avatar-img{
    width:47px;
    height: 47px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #999999;
    cursor: pointer;
    padding-top: -8px;
}
.link-home{
    width: 56px;
    height: 34px;
    margin-top: 16.5px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
}
.link-create{
    width: 75px;
    height: 34px;
    margin-top: 16.5px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
}
.link-home:hover{
    background: #EEEEEE;
}
.link-create:hover{
    background: #EEEEEE;
}
.link:hover{
    background: #EEEEEE;
}
.link{
    width: 116px;
    height: 34px;
    margin-top: 16.5px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
}
.signIn-area{
    display: flex;
    width: 28%;
    height: 100%;
    margin-left: 4%;
}
.main-container{
    display: flex;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-top: 50px;
}
body{
    background: #EEEEEE;
}
.main-container{
    display: block;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-top: 20px;
}
.list-group{
    display: flex;
    width: 100%;
    height: 120px;
}
.content-group{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.tag-content{
    display: inline-block;
    height: 100%;
    width: 12%;
}
.post-content{
    display: inline-block;
    height: 100%;
    width: 68%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
}
.opts-content{
    display: inline-block;
    height: 100%;
    width: 20%;
}
.tag{
    background: #FFFFCC;
    width: 64%;
    height: 25px;
    margin-left: 18%;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    color: #999999;
    font-size: 14px;
    cursor: pointer;
}
.tag:hover{
    background: #DDDDDD;
}
.post-title{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 20px;
}
.post-info{
    display: block;
    width: 100%;
    height: 90%;
    margin-top: 12px;
    font-size: 14px;
    color: #999999;
}
.title-span{
    margin-left: 20px;
    font-size: 14px;
    color: #999999;
}