.header-content{
    display: flex;
    min-width: 70%;
    width: 70%;
    height: 100%;
    margin-left: 15%;
    /*padding-left: 15%;*/
}
.label-website-name{
    display: flex;
    width: 28%;
    height: 100%;
    line-height: 67px;
    font-size: 25px;
    font-weight: bolder;
}
.opts{
    display: flex;
    height: 100%;
    width: 40%;
}
.welcome-tip{
    display: flex;
    height: 100%;
    line-height: 67px;
    width: 200px;
    /*margin-left: 100px;*/
    font-size: 14px;
}
.avatar-img{
    width:47px;
    height: 47px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #999999;
    cursor: pointer;
    padding-top: -8px;
}
.signIn-area{
    display: flex;
    width: 28%;
    height: 100%;
    margin-left: 4%;
}

.signIn-content{
    display: flex;
    width: 490px;
    margin-left: 4px;
    height: 100%;
}
.register-content{
    display: none;
    width: 490px;
    margin-left: 4px;
    height: 100%;
}
.resetPwd-content{
    display: none;
    width: 490px;
    margin-left: 4px;
    height: 100%;
}

.link-home{
    width: 56px;
    height: 34px;
    margin-top: 16.5px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
}
.link-create{
    width: 75px;
    height: 34px;
    margin-top: 16.5px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
}
.link-home:hover{
    background: #EEEEEE;
}
.link-create:hover{
    background: #EEEEEE;
}
.link:hover{
    background: #EEEEEE;
}
.link{
    width: 116px;
    height: 34px;
    margin-top: 16.5px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
}
.info{
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 270px;
    background: #f6f6f6;
}
.info-container{
    display: flex;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background: #f6f6f6;
}
.img-container{
    width: 160px;
    height: 160px;
    display: block;
}
.img-container-outer{
    width: 160px;
    height: 180px;
    display: block;
    margin-top:40px ;
}
.content-container{
    display: inline-block;
    border-radius: 5px;
    width: 42%;
    height: 90%;
    margin-left: 1%;
    margin-top: 20px;
    background: #f6f6f6
}
.avatar-pos{
    width:100%;
    height: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
}
.main-container{
    display: flex;
    width: 86%;
    margin-left: 7%;
    height: 1200px;
}
.left-side{
    width: 30%;
    height: 100%;
}
.right-side{
    width: 68%;
    height: 100%;
    margin-left: 1%;
}
.footer-content{
    background: #333333;
    height: 150px;
    width:100%;
    margin-top: 100px;
    display: block;
    bottom: 0;
    text-align: center;
    border: 5px solid #999999;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}
.username-content{
    width: 90%;
    height: 20%;
    font-size: 35px;
}
.opts-content{
    width: 90%;
    height: 13%;
    font-size: 14px;
    color: #999999;
    margin-top: 10px;
}
.point-info{
    display: block;
    width: 160px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #999999;
    font-weight: bold;
    background: #f6f6f6;
}
.round-dots-content{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-left: 2px;
}
.public-content{
    width: 90%;
    height: 13%;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bolder;
}
.public-content-other{
    width: 90%;
    height: 50%;
    margin-top: 20px;
    margin-left: 15px;
}
.opts-content-left{
    height: 40px;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
}
.menu-title{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
}
#posts-info-container{
    width: 100%;
    height: 100%;
}
.lists-group{
    width: 100%;
    height: 50px;
    display: block;
}
.content-lists{
    width: 100%;
    height: 47px;
    display: flex;
    cursor: pointer;
}
.thumb-num{
    display: inline-block;
    width:70px ;
    height: 26px;
    margin-top: 10.5px;
    margin-left: 10px;
    max-width: 120px;
    background: #FCF8E3;
    font-size: 13px;
    border-radius: 5px;
    line-height: 26px;
    text-align: center;
}
.posts-info{
    width: 80%;
    height: 47px;
    line-height: 47px;
    margin-left: 20px;
    font-size: 14px;
    display: inline-block;
}
/*.info-container{
    display: inline-block;
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 270px;
    background: #f6f6f6;
}
.img-container{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
    margin-top: 45px;
    margin-left: 12%;
    background: #009a61;
}
.avatar-pos{
    width:100%;
    height: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
}
.info-content1{
    width: 400px;
    height:100%;
    margin-top: 0;
    margin-left: 2%;
    position: absolute;
    display: inline-block;
    background: #7ecff4;
}
.info-content2{
    width: 400px;
    height:100%;
    margin-top: 0;
    margin-left: 30%;
    position: absolute;
    display: inline-block;
    background: #ea7d7d;
}*/