<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>组件</title>
</head>
<body>
<header style="background: #fafafa;height: 67px"  th:fragment="main-header">
    <div class="header-content">
        <div class="label-website-name">
            <label style="margin-left: 25px">HQU校园技术论坛</label>
        </div>
        <div class="opts">
            <div class="link-home">
                <a href="/"  class="text-decoration-none" style="height: 100%;line-height: 34px;color: #009a61;font-weight: bolder">首页</a>
            </div>
            <div class="link-create"  id="createNote" th:if="${session.userName!=null}">
                <!--<a href="#" class="text-decoration-none" style="height: 100%;line-height: 34px;color: #333333;font-weight: bolder">创建</a>-->
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink-create"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   style="background: transparent;height: 100%;color: #009a61;font-weight: bolder;border: 0;margin-top: -1.5px">
                    创建
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-create">
                    <a class="dropdown-item" href="postPage?type=0">普通帖</a>
                    <a class="dropdown-item" href="postPage?type=1">问答帖</a>
                </div>
            </div>
            <!--管理员才有这两个功能-->
            <div class="link" id="userManage" th:if="${session.userName!=null&&session.userAccInfoDTO.getAccType()==1}">
                <a href="userManage" class="text-decoration-none" style="height: 100%;line-height: 34px;color: #009a61;">用户管理</a>
            </div>
            <div class="link" id="notesManage" th:if="${session.userName!=null&&session.userAccInfoDTO.getAccType()==1}">
                <a href="postsManage" class="text-decoration-none" style="height: 100%;line-height: 34px;color: #009a61;">帖子管理</a>
            </div>
        </div>
        <div class="signIn-area">
            <div class="welcome-tip" th:if="${session.userName!=null}">
                <div  id="dropdownMenuLink-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <a><img th:src="@{../images/login_logo.png}" class="avatar-img"/></a>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-user" >
                    <a class="dropdown-item" href="userInfoPage?userName=${userAccInfoDTO.userName}">账户信息</a>
                    <a class="dropdown-item"  id="signOut">退出登录</a>
                </div>
                <label style="margin-left: 25px" th:text="'欢迎您，'+${session.userName}"></label>
            </div>
            <th:block th:if="${session.userName==null}">
                <div class="signIn-btn">
                    <!--
                          未登录时显示登录及注册按钮，登陆后用户头像以及欢迎信息
                    -->
                    <button type="button" class="btn btn-light" id="#signIn"
                            data-toggle="modal" data-target="#myModal" style="height: 34px;width: 82px;font-size: 14px;color: #009933;margin-top: 16.5px">立即登录</button>
                    <button type="button" class="btn btn-success" id="register" style="height: 34px;width: 82px;font-size: 14px;margin-top: 16.5px;margin-left: 20px">免费注册</button>
                </div>
                <!-- 用户登录以及注册的对话框 -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">用户登录</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="signIn-content" id="signIn-content">
                                    <form style="margin-left: 25px;margin-top: 5%">
                                        <div class="form-group">
                                            <label class="form-control-label" style="font-weight: bolder;" >登录账号</label>
                                            <input type="email" placeholder="请输入账号" class="form-control" style="width: 400px" id="loginAcc">
                                            <!--校验信息提示-->
                                            <label class="form-control-label" style="font-size: 12px;color: red" id="check-loginAcc-tip"></label>
                                        </div>
                                        <!--进度旋转条-->
                                        <div class="spinner-border text-success" role="status" style="display: none" id="loading-sp-1">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="form-group" style="margin-top: 25px">
                                            <label class="form-control-label" style="font-weight: bolder">登录密码</label>
                                            <button  type="button" class="btn btn-link" id="resetPwd" style="margin-left: 235px">忘记密码？</button>
                                            <input type="password" placeholder="请输入密码" class="form-control" style="width: 400px" id="password">
                                            <!--校验信息提示-->
                                            <label class="form-control-label" style="font-size: 12px;color: red" id="check-password-tip"></label>
                                        </div>
                                        <div class="form-group" style="margin-top: 25px">
                                            <button type="button" class="btn btn-primary" style="width: 400px" id="signIn-btn">登 录</button>
                                            <button type="button" class="btn btn-success" style="width: 400px;margin-top: 20px" id="registerAcc-btn">注 册 账 号</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="register-content" id="register-content">
                                    <form style="margin-left: 25px;margin-top: 2%">
                                        <div class="form-group">
                                            <label class="form-control-label" style="font-weight: bolder;" >用户名</label>
                                            <input type="text" placeholder="请输入用户名" class="form-control" style="width: 400px" id="userName">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" style="font-weight: bolder;" >联系方式</label>
                                            <input type="text" placeholder="请输入联系方式" class="form-control" style="width: 400px" id="contact">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" style="font-weight: bolder;" >工作性质</label>
                                            <div class="spinner-border text-success" role="status" style="display: none" id="loading-sp-2">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <select class="form-control" style="width: 400px" id="jobCategory">
                                                <option>学生</option>
                                                <option>IT/互联网</option>
                                                <option>教育</option>
                                                <option>金融</option>
                                                <option>艺术/设计</option>
                                                <option>服务业</option>
                                                <option>交通运输</option>
                                                <option>其他</option>
                                            </select>
                                        </div>
                                        <div class="form-group" >
                                            <label class="form-control-label" style="font-weight: bolder">注册邮箱</label>
                                            <input type="text" placeholder="请输入邮箱地址" class="form-control" style="width: 400px" id="email">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" style="font-weight: bolder">登录密码</label>
                                            <input type="password" placeholder="请输入不少于六位的密码" class="form-control" style="width: 400px" id="register-password">
                                        </div>
                                        <div class="form-group" >
                                            <button type="button" class="btn btn-primary" style="width: 400px" id="register-btn">注 册</button>
                                            <button type="button" class="btn btn-success" style="width: 400px;margin-top: 10px" id="returnToSignIn-btn">返 回 登 录</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="resetPwd-content" id="resetPwd-content">
                                    <form style="margin-left: 25px;margin-top: 2%">
                                        <div class="form-group">
                                            <label class="form-control-label" style="font-weight: bolder;" >您的用户名</label>
                                            <input type="text" placeholder="请输入用户名" class="form-control" style="width: 400px" id="userName-reset">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" style="font-weight: bolder;" >您的注册邮箱</label>
                                            <input type="text" placeholder="请输入联系方式" class="form-control" style="width: 400px" id="email-reset">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" style="font-weight: bolder">设置新的密码</label>
                                            <input type="password" placeholder="请输入不少于六位的密码" class="form-control" style="width: 400px" id="password-reset">
                                        </div>
                                        <div class="form-group" >
                                            <button type="button" class="btn btn-primary" style="width: 400px" id="confirm-reset">重置密码</button>
                                            <button type="button" class="btn btn-success" style="width: 400px;margin-top: 10px" id="returnToSignIn-btn-reset">返 回 登 录</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</header>
<footer class="footer-content" th:fragment="copyright-footer"
        style="background: #333333;height: 150px;width:100%;margin-top: 100px;display: block;
    bottom: 0;text-align: center;border: 5px solid #999999;border-bottom: transparent;
    border-left: transparent;border-right: transparent;">
    <label style="font-size: 14px;line-height: 120px;color: #999999">CopyRight   @华侨大学  Vinfer
        &nbsp;&nbsp;&nbsp;&nbsp;2016级-计算机科学与技术学院</label>
</footer>
</body>
</html>